.card {
  background: $white;
  padding: 32px 27px;
  margin-bottom: 15px;
  border: 1px solid $grey;
  
  .card-content{
    display: flex;
    justify-content: space-between;
  }
  .info {
    .info_content {
      .category {
        opacity: 0.5;
        font-size: 14px;
        font-weight: 700;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
      }

      .title {
        font-family: $mainFont;
        font-size: 2.2rem;
        font-weight: 700;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: -0.2px;
        margin-top: 3px;
      }

      .author {
        color: $secondaryColor;
        margin: 4px 0 0;
        font-family: $mainFont;
        font-size: 14px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
      }
    }

    .footer {
      ul {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        list-style: none;

        li {
          border-right: 2px solid $grey;
          padding: 3px 15px 2px 0;
          margin-right: 17px;

          a {
            color: $secondaryColor;
            text-decoration: none;
            font-size: 14px;
          }
        }
      }
    }
  }

  .details {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .leaning {
      display: flex;
      justify-content: space-between;
      align-items: center;
      // border-right: 2px solid $grey
      padding-right: 60px;
      position: relative;

      &::after {
        position: absolute;
        content: '';
        right: -1px;
        width: 2px;
        height: 70px;
        background: $grey;
      }

      .leaning_chart {
        width: 90px;
        height: 90px;
        display: flex;
        justify-content: center;
        align-items: center;

        .CircularProgressbar {
          width: 68px;

          .CircularProgressbar-path {
            stroke: $primaryColor;
          }

          .CircularProgressbar-trail {
            stroke: $grey;
          }

          .CircularProgressbar-text {
            fill: yellow;
          }

          .CircularProgressbar-background {
            fill: green;
          }
        }
      }

      .leaning_details {
        .leaning_value {
          font-family: 'Montserrat', serif;
          font-size: 32px;
          color: $dark;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
        }

        .leaning_text {
          font-size: 14px;
          margin-top: 7px;
          opacity: 0.5;
        }
      }
    }

    .chapter {
      width: 50%;

      .bootk_chapter_text {
        opacity: 0.5;
        font-family: $mainFont;
        font-size: 13px;
        font-weight: 300;
        text-transform: uppercase;
        margin-bottom: 7px;
      }

      .bootk_chapter_value {
        font-size: 16px;
        font-weight: 300;
        letter-spacing: -0.4px;
        color: $dark;
        margin-bottom: 23px;
      }

      .chapter_update {
        .button {
          padding: 7px 19px;
          background: $primaryColor;
          color: $white;
          text-transform: uppercase;
          border-radius: 3px;
          font-size: 13px;
          letter-spacing: 0.5px;
          cursor: pointer;
        }
      }
    }
  }
}
